<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

<link rel="shortcut icon" href="assets/images/favicon_1.ico">

		<title>Soft Pro</title>
		
		<!--Form Wizard-->
        <link rel="stylesheet" type="text/css" href="assets/plugins/jquery.steps/css/jquery.steps.css" />

		<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/core.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/components.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/pages.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />

		<link href="assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
		<link href="assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
		<link href="assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
		<link href="assets/plugins/clockpicker/css/bootstrap-clockpicker.min.css" rel="stylesheet">
		<link href="assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
		
		
		<link href="assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet" />
        <link href="assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" />
        <link href="assets/plugins/multiselect/css/multi-select.css"  rel="stylesheet" type="text/css" />
        <link href="assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
        <link href="assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />


        <script src="assets/js/modernizr.min.js"></script>
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','../../../www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-69506598-1', 'auto');
          ga('send', 'pageview');
</script>
</head>

<body class="fixed-left">

<div id="wrapper">

			<!-- Top Bar Start -->
            <div class="topbar">

                <!-- LOGO -->
                <div class="topbar-left">
                    <div class="text-center">
                        <a href="index.html" class="logo">
						<i class="icon-c-logo"> <img src="assets/images/logo.png" height="42"/> </i>
						<span> Soft pro</span>
						</a>
						
                        <!-- Image Logo here -->
                        <!--<a href="index.html" class="logo">-->
                            <!--<i class="icon-c-logo"> <img src="assets/images/logo_sm.png" height="42"/> </i>-->
                            <!--<span><img src="D:\IT\4thYear\research\logo" height="20"/></span>-->
                        <!--</a>-->
                    </div>
                </div>

                <!-- Button mobile view to collapse sidebar menu -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <div class="">
                            <div class="pull-left">
                                <button class="button-menu-mobile open-left waves-effect waves-light">
                                    <i class="md md-menu"></i>
                                </button>
                                <span class="clearfix"></span>
                            </div>


                            

                            <ul class="nav navbar-nav navbar-right pull-right">
							
								<form role="search" class="navbar-left app-search pull-left hidden-xs">
			                     <input type="text" placeholder="Search..." class="form-control">
			                     <a href="#"><i class="fa fa-search"></i></a>
								</form>
							
							
                                <li class="dropdown top-menu-item-xs">
                                    <a href="#" data-target="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                                        
                                    </a>
                                   
                                </li>
                                <li class="hidden-xs">
                                    <a href="#" id="btn-fullscreen" class="waves-effect waves-light"><i class="icon-size-fullscreen"></i></a>
                                </li>
                                <li class="hidden-xs">
                                    <a href="#" class="right-bar-toggle waves-effect waves-light"><i class="icon-settings"></i></a>
                                </li>
								
								

								
                                <li class="dropdown top-menu-item-xs">
                                    <a href="#" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true"><img src="assets/images/users/avatar-1.jpg" alt="user-img" class="img-circle"> </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:void(0)"><i class="ti-user m-r-10 text-custom"></i> Profile</a></li>
                                        <li><a href="javascript:void(0)"><i class="ti-settings m-r-10 text-custom"></i> Settings</a></li>
                                        <li><a href="page-lock-screen.html"><i class="ti-lock m-r-10 text-custom"></i> Lock screen</a></li>
                                        <li class="divider"></li>
                                        <li><a href="page-login.html"><i class="ti-power-off m-r-10 text-danger"></i> Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->
            
            
            <!-- ========== Left Sidebar Start ========== -->

            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <!--- Divider -->
                    <div id="sidebar-menu">
                        <ul>
                        	<li class="text-muted menu-title">Navigation</li>

                            <li class="has_sub">
                                <a href="index.html" class="waves-effect"><i class=" md-home"></i> <span> Dashboard </span></a>
                                
                            </li>
							
							<li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class=" md-my-library-add"></i> <span> Add New </span></a>
                                
                            </li>
							
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class=" md-my-library-books "></i> <span>Resources</span>  </a>
                                
                            </li>

                            <li class="has_sub">
                                <a href=" crm-leads.html " class="waves-effect"><i class=" md-layers"></i> <span>Projects</span> </a>
                                
                            </li>

                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class=" md-person"></i> <span> Employees </span>  </a>
                               
                            </li>

							<li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class=" md-assessment"></i><span> Analytics </span></a>
                               
                            </li>
							
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="ti-pencil-alt"></i><span>Requirements </span> Gathering</span></a>
                                
                            </li>


                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Left Sidebar End -->
            

<div class="content-page">
<!-- Start content -->
<div class="content">
	<div class="container">

						<!-- Page-Title -->
						<div class="row">
							<div class="col-sm-12">
                                <div class="btn-group pull-right m-t-15">
                                    
                                </div>

								<h4 class="page-title">Form Wizard</h4>
								<ol class="breadcrumb">
									<li>
										<a href="#">Ubold</a>
									</li>
									<li>
										<a href="#">Components</a>
									</li>
									<li class="active">
										Form Wizard
									</li>
								</ol>
							</div>
						</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="card-box">
				<h4 class="m-t-0 header-title"><b>Start Your Project</b></h4>
				<p class="text-muted m-b-30 font-13">
					Project creater let you to add new projects more efficient and accurate manner.
				</p>
				
				
				
				<form id="wizard-validation-form" action="#">
	                <div>
	                    <h3>Project Details</h3>
	                   
	                    <section>
	                    
	                        <div class="form-group clearfix">
	                        
	                        
	                        
	                        	<div class="col-lg-4">
	                        		<div class="form-group">
			                            <label class="control-label " for="projectName1"> Project Name </label>
			                            <input class="required form-control" id="projectName1" name="projectname" type="text">
	                            	</div>
	                            </div>
	                            
	                            <div class="col-lg-4">
	                        		<div class="form-group">
			                            <label class="control-label " for="clientName1"> Client Name </label>
			                            <input id="clientName1" name="clientname" type="text" class="required form-control">
	                            	</div>
	                            </div>
	                              
	                            <div class="col-lg-4">
	                        		<div class="form-group">
			                            <label class="control-label " for="companyName1"> Company Name </label>
			                            <input id="companyName1" name="companyname" type="text" class="required form-control">
	                            	</div>
	                            </div>
	                                
	                        </div>
	                        
	                        
	                        <div class="form-group clearfix">
	                        
		                        <div class="col-lg-4">
	                        		<div class="form-group">
			                            <label class="control-label "> Email </label>
			                            <input id="email1" name="email" type="text" class="required email form-control">
	                            	</div>
	                            </div> 
	                            
	                            <div class="col-lg-4">
	                        		<div class="form-group">
			                            <label class="control-label "> Project Duration </label>
			                            <input class="form-control input-daterange-datepicker" type="text" name=" projectduration " value="09/01/2016 - 09/30/2016"/>
	                            	</div>
	                            </div> 
	                                
	                            <div class="col-lg-4">
	                        		<div class="form-group">
			                            <label class="control-label "> Project Category </label>
			                            <input type="text" name="projectcategory" list="PCName" class="required form-control"/>
											<datalist id="PCName">
											    <option value="Desktop Application">Desktop Application</option>
											    <option value="Web Application">Web Application</option>
											    <option value="Mobile Application">Mobile Application</option>
											</datalist>
	                            	</div>
	                            </div>     
	                                
	                        </div>
	                 
	                    </section>
	                    
	                    <h3>Job Roles Selection</h3>
	                    
	                    <section>
	
	                        <div class="form-group clearfix">
	                        
	                            <div class="col-lg-4">
	                                <div class="form-group">
										<label class="control-label">Senior Software Architect</label>
										<input class="vertical-spin" type="text" value="" name="seniorsoftwarearchitect">
									</div>			
	                            </div>
	                            
	                            <div class="col-lg-4">
	                                <div class="form-group">
										<label class="control-label">Business Analyst</label>
										<input class="vertical-spin" type="text" value="" name="businessanalyst">
									</div>			
	                            </div>
	                            
	                            <div class="col-lg-4">
	                                <div class="form-group">
										<label class="control-label">Seniour Software Engineer</label>
										<input class="vertical-spin" type="text" value="" name="senioursoftwareengineer">
									</div>			
	                            </div>
	                     
	                        </div>
	                        
	                        <div class="form-group clearfix">
	                        	<div class="col-lg-4">
	                                <div class="form-group">
										<label class="control-label">Software Engineer</label>
										<input class="vertical-spin" type="text" value="" name="softwareengineer">
									</div>			
	                            </div>
	                            
	                            <div class="col-lg-4">
	                                <div class="form-group">
										<label class="control-label">Tech Lead</label>
										<input class="vertical-spin" type="text" value="" name="techlead">
									</div>			
	                            </div>
	                            
	                            <div class="col-lg-4">
	                                <div class="form-group">
										<label class="control-label">Developer</label>
										<input class="vertical-spin" type="text" value="" name="developer">
									</div>			
	                            </div>
	                        </div>
	
	
	                    </section>
	                    
	                    <h3>Provide Technology</h3>
	                    
	                    <section>
	                    
		                    <div class="form-group clearfix">
		                    
	                           <div class="col-lg-6">
	                        		<div class="form-group">
		                           		<label class="control-label "> Language </label>
		                           		
								   		<select class="selectpicker" multiple data-style="btn-white" name="language">
											<option>Java</option>
											<option>C#</option>
											<option>C++</option>
											<option>PHP</option>
											<option>Android</option>
											<option>Python</option>
										</select>
										
							   		</div>
							   </div>
							   
							   <div class="col-lg-6">
	                        		<div class="form-group">
		                           		<label class="control-label "> Database </label>
								   		<select class="selectpicker" multiple data-style="btn-white" name="database">
											<option>MySQL</option>
											<option>Oracle</option>
											<option>Mongo DB</option>
											<option>No SQL</option>
										</select>
							   		</div>
							   </div>
							   
							   <div class="col-lg-6">
	                        		<div class="form-group">
		                           		<label class="control-label "> Scripting Language </label>
								   		<select class="selectpicker" multiple data-style="btn-white" name="scriptinglanguage ">
											<option>HTML</option>
											<option>Note js</option>
											<option>Photoshop</option>
										</select>
							   		</div>
							   </div>
												
		                    </div>
	                        
	                        <div class="card-box">
	                        <h3></h3>
	                        </div>
	                        
	                    </section>
	                    
	                    <h3>Document Submission</h3>
	                    
	                    <section>
	                        <div class="form-group clearfix">
	                            <div class="col-lg-4">
	                        		<div class="form-group">
			                            <label class="control-label "> Requirement File </label>
			                            <input type="file" class="btn btn-default btn-md waves effect waves-light m-b-30 form-control" name="requirementfile">
	                            	</div>
                               </div> 
                               
                               <div class="col-lg-4">
	                        		<div class="form-group">
			                            <label class="control-label "> URS File </label>
			                            <input type="file" class="btn btn-default btn-md waves effect waves-light m-b-30 form-control" name="ursfile">
	                            	</div>
                               </div>
									
							   <div class="col-lg-4">
	                        		<div class="form-group">
			                            <label class="control-label "> SRS File </label>
			                            <input type="file" class="btn btn-default btn-md waves effect waves-light m-b-30 form-control" name="srsfile">
	                            	</div>
                               </div>
	                        </div>
							<button type="button" class="btn btn-default btn-custom waves-effect waves-light">Default</button>
	                    </section>
	                </div>
	            </form>
			</div>
		</div>
	</div>
	
	
	</div>
  </div>
</div>
</div>
		<script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/detect.js"></script>
        <script src="assets/js/fastclick.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/jquery.blockUI.js"></script>
        <script src="assets/js/waves.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/jquery.nicescroll.js"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>


        <script src="assets/js/jquery.core.js"></script>
        <script src="assets/js/jquery.app.js"></script>
        

        <script src="assets/plugins/moment/moment.js"></script>
     	<script src="assets/plugins/timepicker/bootstrap-timepicker.js"></script>
     	<script src="assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
     	<script src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
     	<script src="assets/plugins/clockpicker/js/bootstrap-clockpicker.min.js"></script>
     	<script src="assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>


        <script src="assets/pages/jquery.form-pickers.init.js"></script>

        <!--Form Wizard-->
        <script src="assets/plugins/jquery.steps/js/jquery.steps.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="assets/plugins/jquery-validation/js/jquery.validate.min.js"></script>

        <!--wizard initialization-->
        <script src="assets/pages/jquery.wizard-init.js" type="text/javascript"></script>
        
        
        
        

        <script src="assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>
        <script src="assets/plugins/switchery/js/switchery.min.js"></script>
        <script type="text/javascript" src="assets/plugins/multiselect/js/jquery.multi-select.js"></script>
        <script type="text/javascript" src="assets/plugins/jquery-quicksearch/jquery.quicksearch.js"></script>
        <script src="assets/plugins/select2/js/select2.min.js" type="text/javascript"></script>
        <script src="assets/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="assets/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js" type="text/javascript"></script>
        <script src="assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
        <script src="assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>

        <script type="text/javascript" src="assets/plugins/autocomplete/jquery.mockjax.js"></script>
        <script type="text/javascript" src="assets/plugins/autocomplete/jquery.autocomplete.min.js"></script>
        <script type="text/javascript" src="assets/plugins/autocomplete/countries.js"></script>
        <script type="text/javascript" src="assets/pages/autocomplete.js"></script>

        <script type="text/javascript" src="assets/pages/jquery.form-advanced.init.js"></script>
	
</body>
</html>